@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Add a Category</h2>

<h4>Addd a category to @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.Label("Select Category")
  @DropDownList("CategoryId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>