@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  @Html.HiddenFor(model => model.ItemComplete, new { type="bool", value = "false" })
  @Html.Label("Select Category")
  @Html.DropDownList("CategoryId")
  <input type="submit" value="Add new task" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Items", "Index")</p>
